@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-script: var(--font-pinyon), cursive;
  --font-winner: var(--font-winner), sans-serif;

  --color-background: #050505;
  --color-surface: #0a0a0a;
  --color-border: #1f1f1f;
  --color-primary: #ffffff;
  --color-secondary: #a1a1aa;
  --color-accent: #d4d4d8;
  --color-gold: #D4AF37;
}

/* Custom Utilities */
@utility text-balance {
  text-wrap: balance;
}

body {
  background-color: var(--color-background);
  color: var(--color-secondary);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  letter-spacing: -0.02em;
}

.font-script {
  font-family: var(--font-script);
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.text-gold-shine {
  background: linear-gradient(to right,
      #D4AF37 20%,
      #F3E5AB 30%,
      #ffeb3b 40%,
      #D4AF37 50%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s linear infinite;
}